@charset "UTF-8";
.benefit__title, .primary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.benefit__paragraph, .team__paragraph {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 16px;
}

.work__title, .team__title, .clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 1199px) {
  .work__title, .team__title, .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.connect__header, .footer-form__header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/Roboto-Black.woff") format("woff");
}

.link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul,
p,
h1,
h2,
h3,
li {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px 10px 32px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus, .btn:active, .btn:hover {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-item {
  margin-left: 30px;
  margin-top: 30px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
}

.logo--black {
  color: black;
}

.logo--white {
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(100, 150, 156, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  text-align: center;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100vw;
  background-color: #FFFFFF;
  color: var(--second-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal {
    height: 100%;
    overflow: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal .modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #212121;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal .modal__btn .modal__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__btn:hover .modal__icon,
.modal .modal__btn:focus .modal__icon {
  fill: #2196F3;
}

.form {
  width: 100%;
  height: 100%;
  margin: auto;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field:not(:last-of-type) {
  margin-bottom: 10px;
}

.form__field:last-of-type {
  margin-bottom: 20px;
}

.form__field .form__input {
  height: 40px;
}

.form__field .form__input,
.form__field .textarea {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition-property: color, fill, border-color;
  transition-property: color, fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field .form__icon {
  fill: var(--second-color);
  position: absolute;
  bottom: 10px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field .form__input[type='text'],
.form__field .form__input[type='tel'],
.form__field .form__input[type='email'] {
  padding-left: 42px;
}

.form__field .form__input-name {
  margin-bottom: 4px;
}

.form__field:hover .textarea,
.form__field:hover .form__input,
.form__field:hover .form__icon {
  color: #2196F3;
  fill: #2196F3;
  border-color: #2196F3;
}

.form__field:focus-within .textarea,
.form__field:focus-within .form__icon,
.form__field:focus-within .form__input {
  color: #2196F3;
  fill: #2196F3;
  border-color: #2196F3;
  outline: transparent;
}

.form__field .textarea {
  resize: none;
}

.form__field .textarea::-webkit-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field .textarea:-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field .textarea::-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field .textarea::placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field .textarea[placeholder='Введіть текст'] {
  padding: 12px 16px;
}

.form-footer {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-footer input[type='checkbox'] {
  width: 16px;
  height: 15px;
}

.form-footer__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-footer__policy .form-footer__link {
  color: #2196F3;
}

.form-footer__new-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  border: #212121 2px solid;
  border-radius: 4px;
  -webkit-transition-property: color, fill, border-color;
  transition-property: color, fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__checkbox:checked + .form-footer__policy .form-footer__new-checkbox {
  background-color: #2196F3;
  background-image: url("../images/icons/vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  background-position: center;
}

.form-footer__checkbox:focus + .form-footer__policy .form-footer__new-checkbox,
.form-footer__checkbox:hover + .form-footer__policy .form-footer__new-checkbox {
  border-color: #2196F3;
}

@media screen and (max-width: 479px) {
  .form-footer__policy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form-footer__new-checkbox {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 5px;
    margin-left: auto;
  }
  .form-footer__paragraph {
    font-size: 11px;
    text-align: start;
    margin-right: auto;
  }
  .form-footer__link {
    margin-left: auto;
    margin-right: auto;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__icon {
  fill: #AFB1B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin-right: 10px;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  -webkit-transform: scale(1.6) rotate(360deg);
          transform: scale(1.6) rotate(360deg);
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 767.98px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-container {
    position: fixed;
    width: 100vw;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 48px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 250;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FFFFFF;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479px) {
  .menu-container {
    overflow-y: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-toggle {
    position: absolute;
    right: 25px;
    top: 21px;
    border: none;
    background-color: transparent;
    fill: #000000;
    margin-left: auto;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .menu-toggle:hover, .menu-toggle:focus {
    fill: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header .logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 768px) and (max-width: 1199.98px) {
  .header__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .header .site-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479px) {
  .site-nav {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767.98px) {
  .site-nav__item {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 1.17;
    line-height: 100%;
    text-align: start;
    letter-spacing: 2%;
    color: #212121;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-nav__link {
    padding: 0px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196F3;
  }
  .contacts-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-nav__icon {
    display: none;
  }
  .contacts-nav__item {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 1.17;
    line-height: 100%;
    text-align: start;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479px) {
  .contacts-nav__item {
    font-size: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts-nav__item:first-child {
    margin-top: 32px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contacts-nav__link {
    display: block;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .contacts-nav__link:hover, .contacts-nav__link:focus {
    color: #2196F3;
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
  }
  .menu-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-top: 64px;
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479px) {
  .menu-social {
    margin-top: 32;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-social__item {
    color: #2196F3;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 2%;
  }
  .menu-social__item {
    padding-right: 10px;
    border-right: 1px solid #757575;
  }
}

@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    border-bottom: 1px solid #E5E5E5;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199.98px) {
  .header__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  .header .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header .site-nav__link {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .header .site-nav__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #2196F3;
    position: absolute;
    left: 0px;
    bottom: -1px;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: transform, color;
    transition-property: transform, color, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .site-nav__link:focus, .header .site-nav__link:hover {
    color: #2196F3;
  }
  .header .site-nav__link:focus::after, .header .site-nav__link:hover::after {
    -webkit-transform-origin: to right;
            transform-origin: to right;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .contacts-nav {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav__link {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contacts-nav__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .contacts-nav__item {
    font-size: 12px;
  }
  .contacts-nav__link {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-nav__link:hover, .contacts-nav__link:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
  .nav {
    margin-right: 200px;
  }
  .contacts-nav {
    padding: 0px;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts-nav__item {
    font-size: 14px;
    margin-bottom: 0;
  }
  .contacts-nav .item:not(:last-child) {
    margin-right: 30px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-480.webp);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-480.webp);
    background-attachment: scroll;
    background-size: cover;
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-960.webp);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-960.webp);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    text-align: center;
    background-size: cover;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-768.webp");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url("../images/hero-768.webp");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-1536.webp");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url("../images/hero-1536.webp");
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-1600.webp);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-1600.webp);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-3200.webp);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-3200.webp);
    background-size: cover;
  }
}

.hero__title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.61;
  text-align: center;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    max-width: 696px;
  }
}

.work {
  padding-top: 0px;
}

.work__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.work__thumb {
  position: relative;
}

.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 27px;
  position: absolute;
  bottom: 0%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

.benefit__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.benefit__icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767.98px) {
  .benefit__title {
    text-align: center;
  }
}

.benefit__paragraph {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefit__item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefit__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team {
  background-color: #F5F4FA;
}

.team__paragraph {
  font-size: 16px;
}

.team__text {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid currentColor;
  outline: none;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: color, background-color, -webkit-transform;
  transition-property: color, background-color, -webkit-transform;
  transition-property: transform, color, background-color;
  transition-property: transform, color, background-color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  background-color: #FFFFFF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .clients__link:hover, .clients__link:focus {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.clients__logo {
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__column:first-child {
    margin-right: 165px;
  }
}

.footer__column {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__column {
    margin-bottom: 0px;
  }
}

.footer__column .logo {
  margin-bottom: 20px;
}

.footer__column .social__icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer__column:not(:last-child) {
    margin-right: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__column:not(:last-child) .footer-form {
    margin-left: auto;
  }
}

.address {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-style: inherit;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}

.address__link[target="_blank"] {
  color: #FFFFFF;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link:hover, .address__link:focus {
  color: #2196F3;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

.footer-form__header {
  text-align: center;
}

.footer-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-form--down {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form--down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form input[type='email'] {
  padding-left: 12px;
  margin-bottom: 20px;
}

.footer-form input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-form input {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form input {
    min-width: 450px;
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.footer-form .input-mail {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-btn {
    margin-left: 12px;
    height: 50px;
  }
  .footer-form input[type='email'],
  .footer-form .input-mail {
    margin-bottom: 0px;
    min-width: 358px;
  }
}

.title-service {
  visibility: hidden;
}

.portfolio__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__btn-item {
    margin-bottom: 0px;
  }
}

.portfolio__button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus, .portfolio__button:active {
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}

.portfolio__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portfolio__link {
  display: block;
  position: relative;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__paragraph,
.portfolio__link:focus .portfolio__paragraph {
  opacity: 0.75;
  top: 0%;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.55;
  background-color: #2196F3;
  opacity: 0;
  position: absolute;
  top: 100%;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: opacity, top;
  transition-property: opacity, top;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.text__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 00.06em;
  color: #212121;
}

.text__paragraph {
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .portfolio__link .text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}
/*# sourceMappingURL=main.css.map */