
:root {
   --second-color: #212121;
   --white-color: #FFFFFF;
   --main-color: #757575;
   --active-color: #2196F3;
   --background-color: #2F303A;
   
}


body {
   font-family: 'Roboto', sans-serif;
   font-style: normal; 
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--main-color); 
}

.link {
text-decoration: none;  
color: inherit;
}

.list {
list-style: none; 
}

 /* LOGO */
a.logo {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--active-color);}

.logo .logo-element {
   color: #000000;
   
}


/* HEADER */

.header {
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--second-color)
   
}
.contacts-link {
color: var(--main-color);

}

.contacts-link:hover,:focus,
.site-link:hover,:focus {
      color: var(--active-color); }



 /*  hero */
.hero { 
   text-align: center;
   background-color: var(--background-color)
} 

.title-hero {
   letter-spacing: 0.06em;
   text-transform: uppercase;
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   color: var(--white-color);
}

.btn
{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
background-color: var(--active-color);
color: var(--white-color);
cursor: pointer;
border: none;
border-radius: 4px;
}

.btn:focus, .btn:active { 
background-color: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: var(--white-color);
border-radius: 4px;}

/* benefit*/
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: normal;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.title-list {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--second-color);
   margin-bottom: 10px;
}





/* what we do */

.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--second-color);
}




/* our team */
.section-team {
background: #F5F4FA;
}

.title-team {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--second-color);
}

.team-paragraph {
font-size: 16px;
line-height: 1.18;
}






/* footer */

.footer-section {background-color: var(--background-color)
}
.footer-logo {color: var(--white-color);
}

.address-section {font-style: inherit;
}
.address-link color:rgba(255, 255, 255, 0.6);

.address-link[target="_blank"] {
color: var(--white-color);
}

.address-link:hover, :focus {
   color: var(--active-color);
}


/* buttons */

.portfolio-btn {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   background: #F5F4FA;
   border-radius: 4px;
   border: 0px;
   cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
   background-color: var(--active-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: var(--white-color);
}


 /* PORTFOLIO */

.title-service {
visibility: hidden; }

.title-portfolio {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 00.06em;
color: var(--second-color);
}

.porfolio-paragraph {
      font-size: 16px;
      line-height: 1.87;
}



                /*    HW#3 */
ul, 
p, 
h1, 
h2, 
h3 {
   margin: 0px;
   padding: 0px;
}

.container-header {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 200px;
   
}
.hero {
   display: flex;
   width: 1600px;
   height: 600px;
   padding-top: 200px;
   padding-bottom: 200px;
   align-items: center;
   margin-bottom: 90px;
}
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   
   padding-bottom: 94px;
   margin-left: 200px;
}

.footer-section {
   width: 1600px;
   height: 252px;
}
                  /* header */ 
.site-nav{
   display: flex;
   align-items: center;

}
.site-nav .item:not(:last-child) {
   margin-right: 50px;
}

.contacts-nav {
   display: flex;
   align-items: center;
}
.contacts-nav .item:not(:last-child) {
   margin-right: 50px;
} 

.site-link, .contacts-link {
   display: flex;
   text-align: center;
   padding-top: 32px;
   padding-bottom: 32px;
}

/*hero*/

.title-hero {
   max-width: 696px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   
}
.btn{
   margin: auto;
   padding: 10px 32px 10px 32px;
}




/*benefits*/

.list-benefits {
   display: flex;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
}
.list-benefits li {
   width: 270px;
   height: 101px;
   flex-basis: calc(100% / 4) ;
   margin-right: 30px;
   }
.list-benefits li:last-child {
   margin-right: 0px;
} 

/*work*/
.section-title {
   margin-bottom: 50px;
}
.list-photo {
   display: flex;
   justify-content: space-between;
   
}
.list-photo .item {
   flex-basis: calc(100%/3);
   margin-right: 30px;
}
.list-photo .item:last-child {
   margin-right: 0px;
}
/*team*/
.section-team {
   width: 1600px;
   display: inline-block;
}
.list-team {
   display: flex;
   justify-content: space-between;
}
.list-team .item {
   width: 270px;
   height: 368px;
   text-align: center;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
   0px 1px 1px rgba(0, 0, 0, 0.14), 
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   flex-basis: calc(100%/4);
   margin-right: 30px;
}
.list-team .item :last-child {
   margin-right: 0px;
}
.list-team .title-team, .list-team .team-paragraph {
   margin-top: 20px;
   margin-bottom: 10px;
}
/*footer*/


.footer-list {
   padding-top: 60px;
   padding-left: 215px;
} 
























/* portfolio */



/* BUTTONS */
.btn-list {
   display: flex;
   justify-content: center;
   margin-bottom: 34px;
   margin-top: 94px;
}
.btn-list li {
   padding-right: 8px;
   margin: 0px;
}

.portfolio-btn {
   padding-left: 22px;
   padding-right: 22px;
   padding-top: 6px;
   padding-bottom: 6px;
}

/* our service */
.portfolio-list {
   display: flex;
   flex-wrap: wrap;

}

.portfolio-list li {
   width: 370px;
   height: 404px;
   border: 1px solid #EEEEEE;
   margin-bottom: 30px;
   margin-right: 30px;
}
.portfolio-list li:nth-child(3n+3) {
   margin-right: 0px;
}
.text {
   padding-left: 24px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.text h2 {
   margin-bottom: 0px;
}
.text p {
   margin-top: 0px;
}
