
:root {
   --second-color: #212121;
   --white-color: #FFFFFF;
   --main-color: #757575;
   --active-color: #2196F3;
   --background-color: #2F303A;
   
}


body {
   font-family: 'Roboto', sans-serif;
   font-style: normal; 
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--main-color); 
}

.link {
text-decoration: none;  
color: inherit;
}

.list {
list-style: none; 
}

 /* LOGO */
a.logo {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--active-color);}

.logo .logo-element {
   color: #000000;
   
}


/* HEADER */

.header {
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--second-color)
   
}
.contacts-link {
color: var(--main-color);

}

.contacts-link:hover,:focus,
.site-link:hover,:focus {
      color: var(--active-color); }



 /*  hero */
.hero { 
   text-align: center;
   background-color: var(--background-color)
} 

.title-hero {
   letter-spacing: 0.06em;
   text-transform: uppercase;
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   color: var(--white-color);
}

.btn
{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
background-color: var(--active-color);
color: var(--white-color);
cursor: pointer;
}

.btn:focus, .btn:active { 
background-color: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: var(--white-color);
border-radius: 4px;}

/* benefit*/
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: normal;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.title-list {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--second-color);
}





/* what we do */

.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--second-color);
}




/* our team */
.section-team {
background: #F5F4FA;
}

.title-team {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--second-color);
}

.team-paragraph {
font-size: 16px;
line-height: 1.18;
}






/* footer */

.footer-section {background-color: var(--background-color)
}
.footer-logo {color: var(--white-color);
}

.address-section {font-style: inherit;
}
.address-link color:rgba(255, 255, 255, 0.6);

.address-link:hover,:focus,
.address-link[target="_blank"]:hover, 
.address-link[target="_blank"]:focus {
   color: var(--active-color);
}
.address-link[target="_blank"] {
color: var(--white-color);
}

/* buttons */

.portfolio-btn {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   background: #F5F4FA;
   border-radius: 4px;
   border: 0px;
   cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
   background-color: var(--active-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: var(--white-color);
}


 /* PORTFOLIO */

.title-service {
visibility: hidden; }

.title-portfolio {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 00.06em;
color: var(--second-color);
}

.porfolio-paragraph {
      font-size: 16px;
      line-height: 1.87;
}



    /*    HW#3 */

.main-container {
   
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
}




/* header */



.header {
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   width: 145px;
   height: 31px;
   padding-right: 93px;
   margin-right: 0px;
   margin-top: 24px;
   margin-bottom: 25px;
}
.site-nav{
   padding: 0px;
   width: 294px;
   height: 15px;
   display: flex;
   justify-content: space-between;
   margin-top: 32px;
   margin-bottom: 32px;
   margin-right: 331px;
   margin-left: 0px;
}

.site-nav .item {
   margin-right: 50px;
}
.site-nav .item:last-child {
margin-right: 0px;
}
.contacts-nav {
   padding: 0px;
   display: flex;
   justify-content: space-between;
   margin-top: 32px;
   margin-bottom: 32px;
}
.contacts-nav .item + .item {
   margin-left: 50px;
}





.container-hero {
   width: 1600px;
   height: 600px;
   margin-right: auto;
   margin-left: auto;
   align-items: center;
   justify-content: space-between;
   justify-content: center;
   text-align: center;
   align-content: center;
} 


.title-hero {
   padding: 200px 452px 30px 452px;
}
.btn {
   margin: 30px 700px 200px 700px;
   
}

.list-benefits {
   text-align: left;
   width: 1170px;
   height: 101px;
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin-top: 94px;
   margin-bottom: 94px;
   padding-left: 0px;
   }

.list-benefits li {
      margin-right: 30px;
      width: 270px;
      height: 101px;
   }
.list-benefits li:last-child {
   margin-right: 0px;
}
.list-photo {
   padding-left: 0px;
   display: flex;
   margin-bottom: 94px;
   justify-content: space-between;
}
.list-photo li {
   
   margin-right: 30px;
}
.list-photo li:last-child {
   margin-right: 0px;
}
.list-team {
   display: flex;
   padding-left: 0px;
}
.list-team li {
   width: 270px;
   height: 368px;
   text-align: center;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
   0px 1px 1px rgba(0, 0, 0, 0.14), 
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   justify-content: space-between;
   padding-right: 30px;
}
.list-team li :last-child {
   margin-right: 0px;
}
.section-team {
   
   margin-bottom: 94px;
   margin-top: 94px;
}

.footer-section {
   
   width: 1600px;
   height: 252px;
}

.address-logo {
   display: inline-block;
   width: 145px;
   height: 31px;
   padding: 60px 1240px 20px 0px;
} 
.address-list {
   width: 231px;
   height: 81px;
   margin: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 60px;
}

.address-list li {
   margin-bottom: 9px;
}



/* portfolio */
.portfolio-container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

.btn-list {
   width: 611px;
   height: 54px;
   display: flex;
   justify-content: center;
   margin-top: 94px;
   margin-left: 495px;
   margin-right: 494px;
   margin-bottom: 34px;
   padding-left: 0px;

}

.btn-list li {
   padding-right: 8px;
   margin: 0px;
   
   
}
.portfolio-btn {
   padding-left: 22px;
   padding-right: 22px;
   padding-top: 6px;
   padding-bottom: 6px;
}

.portfolio-list {
   width: 1200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 30px;
   margin-right: 30px;
   padding: auto;
}

.portfolio-list li {
   width: 370px;
   height: 404px;
   border: 1px solid #EEEEEE;
   margin-bottom: 30px;
   margin-right: 30px;
}

.portfolio-list li:nth-child(3n+3) {
   margin-right: 0px;
}

