
.benefit {
    
&__item {
    flex-basis: calc(100% / 4 - 30px);
}
&__thumb {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: $background-color2;   
    margin-bottom: $distance2;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
&__icon {
    width: 70px;
    height: 70px;
}
&__paragraph {
@extend %team-paragraph;
}
}

.primary-title {
@extend %primary-title;
}
