.footer {
    background-color:#2F303A;
    padding-top: $distance2 *2;
    padding-bottom: $distance2 *2;
    display: flex;
    align-items: center;
    &__container {
    align-items: center;
        @include mq(tab-only) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-around;
}
        @include mq(desk) {
            display: flex;
            align-items: baseline;
        }
    }
}

@include mq(tab-only) {
    .footer__column:first-child {
        margin-right: 165px;
    }
}
    .footer__column {
        margin-bottom: $distance2 *2;
        @include mq(tab-only) {
            margin-bottom: 0px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        & .logo {
            margin-bottom: 20px;
        }
        & .social__icon {
        fill: $white-color;
        }
    }
    @include mq(desk) {
    .footer__column:not(:last-child) {
    margin-right: auto;
    align-items: flex-start;
    .footer-form {
    margin-left: auto;
    }
    }
}

    .address {
    color: $address-color;
    text-align: center;
    @include mq(desk) {
        text-align: start;
    }
    font-style: inherit;
    &__link[target="_blank"] {
    color: $white-color;
    transition-property: transform, color;
    transition-duration: $timing;
    transition-timing-function: $beizer;
    }
    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
    &__link:hover,
    &__link:focus {
        color: $active-color
    }
    } 
    .connect__header {
    @extend %footer-header;
}

.footer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mq(tab-only) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: $distance2 *2;
        }
        &__header {
            @extend %footer-header;
            text-align: center;
        }
}

.footer-form {
    align-items: center;
    @include mq(desk) {
        align-items: flex-start;
    }
        &--down {
            width: 100%;
            text-align: center;
            @include mq(desk) {
                display: flex;
            }
        }
        & input[type='email'] {
        padding-left: 12px;
        margin-bottom: 20px;
        }
        & input {
            @include mq(tab-only) {
        max-width: 450px;
            }

        width: 100%;
        height: 50px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.25;   
        color: rgba(255, 255, 255, 0.6);

        @include mq(notMobile) {
            min-width: 450px;
        }
        }
        &__icon {
        margin-left: 10px;
        fill: currentColor;
        }
    .input-mail {
        margin-bottom: 20px;
    }
}

@include mq(desk) {
        .footer-form .footer-btn {
        margin-left: 12px;
        height: 50px;
        }
        .footer-form input[type='email'],
        .footer-form .input-mail {
            margin-bottom: 0px;
            min-width: 358px;
        }
        
        }






