
.hero {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @include mq(mob-only) {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-480.webp) ;
    background-attachment: scroll;
        background-size: cover;
    @include mq(retina) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-960.webp);
    background-size: cover;
    }
        }
            @include mq(tab-only) {
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url("../images/hero-768.webp");
    @include mq(retina) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url("../images/hero-1536.webp");
    background-size: cover;
    }
        }

    
    


        @include mq(desk) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-1600.webp) ;
    @include mq(retina) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/hero-3200.webp);
    background-size: cover;
    }
    }
        }


// @media screen and (min-width: 481px) and (max-width: 767px)  {
//         width: 768px;
//     height: 400px;
//     text-align: center;
//     background-size: 768px 400px;
//     @include mq(retina) {
//     background-image: image-set(url("../images/hero-768.webp") 1x,
//     url("../images/hero-1536.webp") 2x)
//     }
// }
//     @media screen and (min-width: 768px) {
//     max-width: 1600px;
//     height: 600px;
//     background: url(../images/hero-1600.webp);
//     @include mq(retina) {
//     background: url(../images/hero-3200.webp);
//     background-size: cover;
//     }
// }
// }











    .hero__title {
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.61;
        text-align: center;
        color: $white-color;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $distance2;
        max-width: 360px; 
        @include mq(desk) { 
            font-size: 44px;
            font-weight: 900;
            line-height: 1.36;
            max-width: 696px;
        }
    }
