.portfolio {

&__list {
justify-content: flex-start;
}


    &__link {
    display: block;
    position: relative;
    transition-property: box-shadow;
    transition-duration: $timing;
    transition-timing-function: $beizer;
    &:hover .portfolio__paragraph,
    &:focus .portfolio__paragraph {
        opacity: 0.75;
        top: 0%;
    }
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    }
    &__thumb {
    width: 100%;
    position: relative;
    overflow: hidden;
    }
    &__paragraph {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align:center;
    font-size: 18px;
    line-height: 1.55;
    background-color: $active-color;
    opacity: 0;
    position: absolute;
    top: 100%;
    color: $white-color;
    align-items: center;
    transition-property: opacity, top;
    transition-duration: $timing;
    transition-timing-function: $beizer;
    
}
}



    .text {
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: none;

    &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 00.06em;
    color: $second-color;
    }
    &__paragraph {
        font-size: 16px;
        line-height: 1.87;
    }
    }


    @include mq(tab-only) {

            .portfolio__link {
                display: flex;
                flex-direction: column;
                height: 100%;
                & .text {
                flex-grow: 1;
            }
            }
    }


    .portfolio__item {
     @include mq(mob-only)   {
    width: 100%;
}

    @include mq(tab) {
    width:calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width:calc((100% - 3 * 30px) / 3);
    }
}