
.work {
    padding-top: 0px;
    &__title {
        @extend %general-title;
    }

&__item {
    flex-basis: calc(100% / 3 - 30px);
}

&__thumb {
    position: relative;
}
&__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 27px;
    position: absolute;
    bottom: 0%;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
    background: rgba(47, 48, 58, 0.8);
}
@include mq(notDesk) {
    display: none;
    } 
}

