

// скидання
.link {
text-decoration: none;  
color: inherit;
}
.list {
list-style: none; 
}
ul, 
p, 
h1, 
h2, 
h3,
li {
    margin: 0px;
    padding: 0px;
}



// заготовки колір

$second-color: #212121;
$white-color: #FFFFFF;
$main-color: #757575;
$active-color: #2196F3;
$background-color: #2F303A;
$icon-color: #AFB1B8;
$background-color: #F5F4FA;

// заготовки відступи
$distance1: 15px;
$distance2:30px;



// інші заготовки

$beizer: cubic-bezier(0.4, 0, 0.2, 1);
$timing: 250ms;

img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color; 
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .section {
    padding-top: 94px;
    padding-bottom: 94px;
    }


.visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


//  CARD-SET
.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: (-1) * $distance2;
    margin-top: (-1) * $distance2;
}
.card-item {
    margin-left: $distance2;
    margin-top: $distance2;
}

%primary-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $second-color;
    margin-bottom: 10px;
}
.general-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $second-color;
    margin-bottom: 50px; 
}

.btn
{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: $active-color;
    color: $white-color;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px 10px 32px;
    transition-property: background-color, box-shadow;
    transition-duration: $timing;
    transition-timing-function: $beizer; 
}
.btn:focus, .btn:active, .btn:hover { 
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $white-color;
}