@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("./Roboto-Medium.woffS")
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url("./Raleway-VariableFont_wght.woff");
}