.btn
{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: $active-color;
    color: $white-color;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 32px 10px 32px;
    transition-property: background-color, box-shadow;
    transition-duration: $timing;
    transition-timing-function: $beizer; 
}
.btn:focus, .btn:active, .btn:hover { 
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $white-color;
}