.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $active-color;
}
.header__logo {
        color: #000000;
    }

.header__container .logo {
        margin-right: 93px;
    }


.footer__column .logo {
    display: block;
    margin-bottom: 20px;
} 

.footer__logo--white {
    color: $white-color;
    fill: currentColor;
}