@include mq(mob-only) {
        nav {
                display: flex;
        }
.menu-container {
        position: fixed ;
        width: 100vw;
        width: 100%;
        height: 100vh;
        @media screen and (max-width: 479px) {
                overflow-y: auto;
        }
        top: 0;
        left: 0;
        padding: 48px 40px;
        display: flex;
        z-index: 250;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: $white-color;
        transform: translateX(100%);
        transition-property: transform;
        transition-timing-function: $beizer;
        transition-duration: $timing;
        &.is-open {
        transform: translateX(0);
        }

        }
.menu-toggle {
        position: absolute;
        right: 25px;
        top: 21px;
        border: none;
        background-color: transparent;
        fill: #000000;
        margin-left: auto;
        transition-property: color;
        transition-timing-function: $beizer;
        transition-duration: $timing;
        &:hover, &:focus   {
        fill: $active-color;

}
}
}
@include mq(notMobile) {
        .menu-toggle {
                display: none;
        }
        .menu-container {
                display: flex;
                width: 100%;
        }
}


                
        